/*  Overide bootstrap CSS*/

.card-text {
    color: black;
}

.card-title {
    color: black;
}

#contact_form_text {
    height: 175px;
    overflow:auto
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
