/*  Override bootstrap CSS*/

#card {
    z-index: 1;
    width: 20rem;
    padding-left: 0;
    padding-right: 0;
}

.card-body {
    background-color: rgb(27, 27, 27);
    margin-bottom: 0;
}

.card-title {
    color :white;
}

.card-text {
    color: white;
    text-align: justify;
}

h1 {
    position: relative;
    z-index: 1;
}

h5 {
    position: relative;
    z-index: 1;
}

p { 
    position: relative;
    z-index: 1;
    text-align: center;
}

a:link {
    position: relative;
    z-index: 1;
    text-decoration: none;
}

#contact_form_text {
    height: 175px;
    overflow:auto
}

#contact_form {
    position: relative;
    z-index: 1;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
