/*  Override bootstrap CSS*/

.card {
    background-color: black;
    border-bottom: 1%;
    border-left: 1%;
    border-right: 1%;
    border-top: 1%;
    border-color: white;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    z-index: 1;
}

.card-title {
    color : white;
}

.card-text {
    color: white;
}

h1 {
    position: relative;
    z-index: 1;
}

h5 {
    position: relative;
    z-index: 1;
}

p {
    position: relative;
    z-index: 1;
}

a:link {
    position: relative;
    z-index: 1;
    text-decoration: none;
}

#contact_form_text {
    height: 175px;
    overflow:auto
}

#contact_form {
    position: relative;
    z-index: 1;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}
