<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="../assets/styles/app.css">
    </head>
    <body>
    <div id="tsparticles"></div>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.0.6/tsparticles.bundle.min.js"></script>
    <script src="../assets/particles.js"></script>
    
        {% block body %}{% endblock %}
    </body>
</html>
