<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="../public/assets/img/{{ (app.request.get('_route') == 'home' and 'legal-mentions') ? 'logo.png' : 'email.png' }}" />
        <link rel="stylesheet" href="../public/assets/styles/app.css">
        <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
        <link rel="stylesheet" href="../public/assets/fonts/font-awesome.min.css">
    </head>

    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">

    {% include '/partials/nav.html.twig' %}

    {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.0.6/tsparticles.bundle.min.js"></script>
        <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/assets/js/portfolio.js"></script>
        <script src="../public/assets/particles-responsive.js"></script>
        
    {% include '/partials/footer.html.twig' %}
 
    </body>
</html>
