{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <h1 class="brand-heading">Bienvenue !</h1>
                    <p class="intro-text mb-1">Mon portfolio vous ouvre grand ses portes!</p>
                    <p class="intro-text">Si vous voulez en savoir plus, c'est par ici...</p>
                    <a class="btn btn-link btn-circle" role="button" href="#a-propos"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="content-section" id="a-propos">
    <div class="container">
        <div class="row">
            <div class="col col-lg-9 mx-auto">
                <h1>À propos</h1>
                <p>Il y a peu de temps encore, j'occupais un poste de chargé de production dans l'évènementiel audiovisuel. Après y avoir consacré beaucoup d'énergie, j'ai décidé de changer de voie et de commencer une nouvelle carrière de développeur web &#129299.</p>
                <p>J'aurais pu m'initier au code en autodidacte mais j'ai préféré faire appel à des pros pour réussir cette reconversion. J'ai donc suivi une formation intensive, et pas n'importe laquelle (la meilleure en toute objectivité), celle dispensée par <a href="https://oclock.io/formations/developpeur-web" target="blank">O'clock</a>. J'ai officiellement commencé à coder en janvier 2022 avec la promotion Boson (la meilleure aussi évidemment), pour finir en juillet de la même année.</p>
                <p>Etant plus en accord avec moi même quand je bascule du coté obscure, j'ai choisi la spécialisation Symfony en fin de formation. J'ai un profile qui penche plutôt du côté Backend, mais j'aime aussi me laisser séduire par la lumière et coder sur la partie Frontend.</p>
                <p>Je reste avant tout curieux et je souhaite acquérir le plus de compétences possibles, je suis donc ouvert à tous les langages et technologies (dans les limites du raisonnables tout de même).</p>
                <a class="btn btn-link btn-circle" role="button" href="#projets"><i class="fa fa-angle-double-down animated"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="content-section" id="projets">
    <div class="container">
        <div class="row">
            <div class="col col-lg-9 mx-auto">
                <h1>Mes Projets</h1>
                <p>De bons dessins (ou dans notre cas, "quelques" lignes de code...) valent souvent mieux que de longs discours. Voici donc une liste de projets sur lesquels j'ai travaillé.</p>
                    <div class="container">
                        <div class="row">
                            <div class="card col-xxl-auto col-xl-auto col-lg-auto col-md-auto col-sm-auto mx-auto mb-5" id="card">
                                <a href="https://github.com/benjamin-canal/match-job-back" target="blank">
                                    <img src="../public/assets/img/match-job.png" class="card-img-top" alt="image-projet">
                                    <div class="card-body">
                                        <h5 class="card-title">Match Job</h5>
                                        <h6 class="mb-3">Le tinder du travail !</h6>
                                        <p class="card-text mb-3">Un projet réalisé en fin de formation sur un mois en équipe de quatre développeurs.</p> 
                                        <p class="card-text">Pour la partie Backend une API créée avec le framwork Symfony, pour la partie Frontend c'est React qui a été utilisé.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="card col-xxl-auto col-xl-auto col-lg-auto col-md-auto col-sm-auto mx-auto mb-5" id="card">
                                <a href="https://github.com/benjamin-canal/portfolio" target="blank">
                                    <img src="../public/assets/img/portfolio.png" class="card-img-top" alt="image-projet">
                                    <div class="card-body">
                                        <h5 class="card-title">Portfolio</h5>
                                        <h6 class="mb-3">Vous naviguez dessus</h6>
                                        <p class="card-text mb-3">Un projet réalisé seul.</p>
                                        <p class="card-text">App réalisée avec Symfony, et Twig commme moteur de templates. Pour le fond animé j'ai utilisé tsParticles. L'ensemble du projet fonctionne sous environemment Docker.</p>
                                    </div>
                                </a>    
                            </div>
                        </div>
                    </div>
                <a class="btn btn-link btn-circle" role="button" href="#cv"><i class="fa fa-angle-double-down animated"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="content-section" id="cv">
    <div class="container">
        <div class="row">
            <div class="col col-lg-9 mx-auto">
                <h1>Mon CV</h1>
                <p>Pour connaître un peu mieux mon passé sulfureux, vous pouvez télécharger ce très joli document réalisé par mes soins!</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item"><a href="../public/assets/files/benjamin-canal-cv.pdf" target="blank"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-file fa-fw"></i><span class="network-name">TELECHARGER</span></button></a></li>
                </ul>
                <a class="btn btn-link btn-circle" role="button" href="#contact"><i class="fa fa-angle-double-down animated"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="content-section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col col-lg-9 mx-auto">
                <h1>Contactez moi</h1>
                <p>N'hésitez pas, c'est gratuit et en plus je vous répondrai &#128512.</p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/benjamin-canal/" target="blank"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-linkedin fa-fw"></i><span class="network-name">Linkedin</span></button></a></li>
                    <li class="list-inline-item"><a href="{{ path('contact')}}"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-envelope fa-fw"></i><span class="network-name">Email</span></button></a></li>
                    <li class="list-inline-item"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
