{% extends 'base.html.twig' %}

{% block title %}BC-Contact{% endblock %}

{% block body %}

{% include "nav.html.twig" %}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mx-auto mt-5">
            <div class="col form">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form__review'}}) }}

                {# Rend tous les champs du formulaire #}
                {{ form_widget(form) }}
                <div class="text-center">
                <button type="submit" class="btn btn-success mt-2">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
</div>

<div class="fixed-bottom">
{% include "footer.html.twig" %}
</div>

{% endblock %}
